/*--------------------------------------------------------------
Image
--------------------------------------------------------------*/
img{
	width : 100%;
	height : auto;
}
.img-v-center{
	
}
.img-v-center img{
	position : absolute;
	left : 0;
	right : 0;
	top : 0;
	margin : auto auto;
	width : 100%;
	height : auto;

}

/*--------------------------------------------------------------
Video
--------------------------------------------------------------*/
