/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}
.vh-center{
	position: absolute; 
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto auto;
}
.v-center{
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	height:100%;
}
.full-vh{
	height:100%;
	width:100%;
}
.h-sep{
	height:1px;
	width:100%;
	display:block;
	clear:both;
	background-color: $light-grey;
	margin:4rem 0;
}
.divider{
	display:flex;
	margin: 3rem 0 0;
	h4{
		margin-right:15px;
	}
	.line{
		flex:1;
		height:1px;
		border-top: 1px solid $light-grey;
		margin-top:12px;
		maegin-left:20px;
	}

}
.divider-mid{
	text-align: center;
	display:flex;
	margin: 1rem 0 ;
	border-top:6px solid $light-grey;
	padding-top:2rem;
	width: calc(100% + 2rem);
	margin-left: -1rem;
	h5{
		margin-left:16px;
		margin-right:16px;
	}
	.line{
		flex:1;
		height:1px;
		border-top: 1px solid $light-grey;
		margin-top:10px;
	}
}
.trans{
	transition : all .4s linear;
}

#page {
	position: relative;
	word-wrap: break-word;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 2400px;
	padding-left: 0;
	padding-right: 0;
}

.wrap:after {
	clear: both;
	content: "";
	display: block;
}
.container-fluid{
	padding-left : 0;
	padding-right : 0;
}

.row{
	margin-left : 0; 
	margin-right : 0;
}

.cols-1{
	width: calc( 100% / 9);
}
.cols-2{
	width: calc( 100% / 9 * 2);
}
.cols-3{
	width: calc( 100% / 9 * 3);
	max-width: calc( 100% / 9 * 3);
}
.cols-4{
	width: calc( 100% / 9 * 4);
}
.cols-5{
	width: calc( 100% / 9 * 5);
}
.cols-6{
	width: calc( 100% / 9 * 6);
}
.cols-7{
	width: calc( 100% / 9 * 7);
}
.cols-8{
	width: calc( 100% / 9 * 8);
}
.cols-9{
	width: 100%;
}
div[class*='col-']{
	padding:0 5px;
}
.pt-6{
	padding-top: 4rem;
}
.pb-6{
	padding-bottom : 4rem;
}
.ml-h{
	margin-left: 0;
}
.mr-h{
	margin-right: 0;
}

$row-05 : calc( 100vw / 9 * .5);
$row-1 : calc( 100vw / 9 * 1);
$row-2 : calc( 100vw / 9 * 2);
$row-3 : calc( 100vw / 9 * 3);
$row-4 : calc( 100vw / 9 * 4);
$row-5 : calc( 100vw / 9 * 5);
$row-6 : calc( 100vw / 9 * 6);

$row--1 : calc( 100vw / 9 * -1);
$row--2 : calc( 100vw / 9 * -2);
$row--3 : calc( 100vw / 9 * -3);
$row--4 : calc( 100vw / 9 * -4);

.row-05{
	height : $row-05
}
.row-1{
	height : $row-1
}

.grid-base{
	position : fixed; 
	display : block;
	height : 100%;
	width : 100%;
	z-index : 1;
	top : 0;
	left: 0;
	opacity : .3;
	.row{
		height : 100%;
		width : 100%;
		.cols-1{
			border-right : 1px solid #FFF;
			display:none;
			width:calc( 100% / 3);
			&:nth-child(1){
				display:block;
			}
			&:nth-child(2){
				display:block;
			}
			&:nth-child(3){
				display:block;
			}
		}

	}
}
main{
	position : relative;
	z-index: 2
}
footer{
	position : relative;
	z-index: 2
}
@media (min-width: 576px) {  

}


@media (min-width: 768px) {  
	div[class*='col-']{
		padding:0 15px;
	}
	.ml-h{
		margin-left :  calc( 100% / 9 / 2 );
	}
	.mr-h{
		margin-right :  calc( 100% / 9 / 2 );
	}

	.divider-mid{
		padding-top:0;
		border:0;
	}
	.grid-base{
		.row{
			.cols-1{
				width:calc( 100% / 6);
				&:nth-child(4){
					display:block;
				}
				&:nth-child(5){
					display:block;
				}
				&:nth-child(6){
					display:block;
				}
			}

		}
	}
}
@media (min-width: 992px) {  
	.grid-base{
		.row{
			.cols-1{
				width:calc( 100% / 9);

				&:nth-child(7){
					display:block;
				}
				&:nth-child(8){
					display:block;
				}
				&:nth-child(9){
					display:block;
				}
			}

		}
	}

}